{% extends "base.html" %}
{% load static %}
{% block page_name %}Financeiro{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static 'home/css/estatisticas/estatisticas.css' %}">
<script src="{% static 'salao/js/estatisticas/estatisticas.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page">
        <div class="card">
            <div class="card-header pb-0">
                <h5 class="card-title mb-0">Estatísticas</h5>
            </div>
            <div class="card-body">
                <div class="pieGraphs">
                    <div>
                        <p style="text-align:center; font-weight: 500">Setor mais abre</p>
                        <canvas id="pieChart"></canvas>
                    </div>
                    <div>
                        <p style="text-align:center; font-weight: 500">Setor que mais fecha</p>
                        <canvas id="pieChart2"></canvas>
                    </div>
                    <div>
                        <p style="text-align:center; font-weight: 500">Funcionário que mais abre</p>
                        <canvas id="pieChart3"></canvas>
                    </div>
                    <div>
                        <p style="text-align:center; font-weight: 500">Funcionário que mais fecha</p>
                        <canvas id="pieChart4"></canvas>
                    </div>
            
                </div>
                <canvas id="myChart" style="max-width: 100%;"></canvas>
                
                <table class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Mês</th>
                            <th>Total</th>
                            <th>Fechados</th>
                            <th>Em Aberto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ano, meses in dados_por_mes.items %}
                            {% for mes, dados_mes in meses.items %}
                                <tr>
                                    <td>{{ mes }}/{{ ano }}</td>
                                    <td>{{ dados_mes.total_abertos }}</td>
                                    <td>{{ dados_mes.total_fechados }}</td>
                                    <td>{{ dados_mes.total_em_aberto }}</td>
                                    <td class="editar-funcionario" style="color: #36A2EB; white-space: nowrap !important">
                                        <a href="{% url 'home:home'%}">  <!-- " mes ano %}"> /* -->
                                            Analisar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

                {%for funcionario in funcionarios %}
                    <div class="card-mes">
                        <p class="description">{{ funcionario.nome }}</p>
                        <p class="description" style="color: #7a7a7a">{{ funcionario.telefone }}</p>
                        <p class="description" style="color: #7a7a7a">{{ funcionario.cpf }}</p>
                        <p class="description" style="color: #7a7a7a">{{ funcionario.email }}</p>
                        <span class="editar-agendamento" data-agendamento-id="{{ funcionario.id }}"><a href="{% url 'home:edita_funcionario' funcionario.id %}">Editar</a></span>
                        <span class="cancelar-agendamento"><a href="{% url 'home:exclui_funcionario' funcionario.id %}">Excluir</a></span>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>

<button class="fixed-button" onclick="$('.form-container').css('display', 'flex');">+</button>



<script>
    // Dados vindos do Django
    const dadosPorMes = {{ dados_por_mes|safe }};

    // Preparando os dados para o gráfico de linha
    const labels = [];
    const fechados = [];
    const abertos = [];
    const em_aberto = [];

    for (const ano in dadosPorMes) {
        for (const mes in dadosPorMes[ano]) {
            labels.push(`${mes}/${ano}`);
            const dadosMes = dadosPorMes[ano][mes];
            fechados.push(parseFloat(dadosMes.total_fechados));
            abertos.push(parseFloat(dadosMes.total_abertos));
            em_aberto.push(parseFloat(dadosMes.total_em_aberto));
        }
    }

    var lineData = {
        labels: labels,
        datasets: [{
            label: 'Abertos',
            borderColor: '#91A3B0',
            data: abertos,
            fill: true,
            tension: 0
        }, {
            label: 'Fechados',
            borderColor: '#D19C5F',
            data: fechados,
            fill: true,
            tension: 0
        }, {
            label: 'Em Aberto',
            borderColor: '#E6CBA8',
            data: em_aberto,
            fill: true,
            tension: 0
        }]
    };

    var lineOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            x: {
                ticks: {
                    display: shouldDisplayLabels(),
                    color: '#ddd',
                    autoSkip: false,
                    maxRotation: 0,
                    minRotation: 0
                },
                grid: {
                    color: '#373737'
                }
            },
            y: {
                ticks: {
                    color: '#ddd'
                },
                grid: {
                    color: '#373737'
                }
            }
        },
        plugins: {
            legend: {
                labels: {
                    color: '#ddd'
                },
                position: 'bottom',
                align: 'center'
            },
            tooltip: {
                titleFontColor: '#ddd',
                bodyFontColor: '#ddd',
                backgroundColor: 'rgba(0, 0, 0, 0.8)',
                borderColor: 'black',
                borderWidth: 1
            }
        }
    };

    function shouldDisplayLabels() {
        return window.innerWidth >= 768;
    }

    function updateChart() {
        myLineChart.options.scales.x.ticks.display = shouldDisplayLabels();
        myLineChart.update();
    }

    window.addEventListener('resize', updateChart);

    var lineCtx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(lineCtx, {
        type: 'line',
        data: lineData,
        options: lineOptions
    });

    // Preparando os dados para o gráfico de torta
    const totalAbertos = abertos.reduce((acc, val) => acc + val, 0);
    const totalFechados = fechados.reduce((acc, val) => acc + val, 0);
    const totalEmAberto = em_aberto.reduce((acc, val) => acc + val, 0);
    
    var pieOptions = {
        responsive: true,
        maintainAspectRatio: false, // Manter a proporção do gráfico
    

        plugins: {
            legend: {
                position: 'bottom',
                labels: {
                    color: '#ddd', // Cor das legendas
                  
                },
            },
            tooltip: {
                titleFontColor: '#ddd', // Cor do título da tooltip
                bodyFontColor: '#ddd', // Cor do corpo da tooltip
                backgroundColor: 'rgba(0, 0, 0, 0.8)', // Cor de fundo da tooltip
                borderColor: 'black',
                borderWidth: 1
            },
            legend: {
                labels: {
                    color: '#ddd'
                },
                position: 'none',
                align: 'center'
            },
        }
    };

    var pieData = {
        labels: ['Abertos', 'Fechados', 'Em Aberto'],
        datasets: [{
            data: [totalAbertos, totalFechados, totalEmAberto],
            backgroundColor: ['#91A3B0', '#D19C5F', '#E6CBA8'],
            hoverBackgroundColor: ['#91A3B0', '#D19C5F', '#E6CBA8'],
            borderWidth: 0 // Remover bordas brancas
        }]
    };
    

    var pieCtx = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(pieCtx, {
        type: 'doughnut',
        data: pieData,
        options: pieOptions
    });
    var pieCtx = document.getElementById("pieChart2").getContext('2d');
    var myPieChart = new Chart(pieCtx, {
        type: 'doughnut',
        data: pieData,
        options: pieOptions
    });
    var pieCtx = document.getElementById("pieChart3").getContext('2d');
    var myPieChart = new Chart(pieCtx, {
        type: 'doughnut',
        data: pieData,
        options: pieOptions
    });
    var pieCtx = document.getElementById("pieChart4").getContext('2d');
    var myPieChart = new Chart(pieCtx, {
        type: 'doughnut',
        data: pieData,
        options: pieOptions
    });
</script>
{% endblock %}
