{% extends 'base.html' %}

{% load static %}

{% block page_name %}Home{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="logo" >
        <img src="{% static 'home/images/lion.jpg' %}" alt="">
    </div>
    <br>
    <div class="button-container">
        <button class="contato"> <a href="https://www.instagram.com/cybersolutions.net.br/" target=”_blank” style="text-decoration: none; color: #ddd;">Entrar em contato</a></button>
    </div>
</div>

{% if messages %}
<script type="text/javascript">
window.onload = function() {
    {% for message in messages %}
    Swal.fire({
        icon: 'error', // 'success', 'error', 'warning', 'info', 'question'
        title: 'Permissão Negada',
        text: "{{ message }}",
        customClass: {
            container: 'swal-container-dark', // Estilo personalizado para o container
            popup: 'swal-popup-dark', // Estilo personalizado para o popup
            header: 'swal-header-dark', // Estilo personalizado para o header
            title: 'swal-title-dark', // Estilo personalizado para o título
            content: 'swal-content-dark', // Estilo personalizado para o conteúdo
        }
    });
    {% endfor %}

}
</script>
{% endif %}
{%endblock%}