{% extends 'base.html' %}

{% load static %}

{% block page_name %}Chamados{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{% static 'home/css/chamados/chamados.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="page">
<div class="card">
<div class="card-body">
<div class="card">        
	<div class="card-header d-flex justify-content-between align-items-center">
		<span class="float-right">
			<span class="mr-4 navTask" id="mostrarAgendamentos">Em aberto</span> |
			<span class="mr-4 navTask" id="mostrarConcluidos">Concluídos</span>
		</span>
	</div>

	<div class="card-agendamentos">
		{% if agendamentos %}
			{% for agendamento in agendamentos %}
				<div class="{% if agendamento.status %} agendamentosConcluidos {% else %} agendamentos {% endif %}" style="{% if agendamento.status %} display: none {% endif %}">
					<div class="agenda-item" data-agendamento-data="{{ agendamento.status }}" data-agendamento-concluido="{{ agendamento.status }}">
						<p class="rotulo">Descrição</p>
						<div class="agenda-header">
							<p>{{ agendamento.descricao }}</p>
						</div>

						<p class="rotulo">Abriu Chamado</p>
						<p class="description">{{ agendamento.funcionario_abriu.nome }}</p>
						
						<p class="rotulo">Setor Abriu Chamado</p>
						<p class="description">{{ agendamento.funcionario_abriu.setor }} | {{ agendamento.funcionario_abriu.area_setor }}</p>

						<p class="rotulo">Setor do Chamado</p>
						<p class="description">{{ agendamento.setor.nome }}</p>
						
						{% if agendamento.status %}
							<p class="rotulo">Fechou Chamado</p>
							<p class="description">{{ agendamento.funcionario_fechou.nome }}</p>
						{% endif %}

						{% if agendamento.status %}
							<p class="rotulo">Serviço Prestado</p>
							{% if agendamento.descricao_solucao is not None %}
								<p class="description descricao_solucao">{{ agendamento.descricao_solucao }}</p>
							{% else %}
								<p class="description"></p>
							{% endif %}
						{% endif %}

						<p class="rotulo">Data de Abertura</p>
						<p class="description-data">{{ agendamento.data_abertura|date:"d/m/Y" }} {{ agendamento.data_abertura|time:"H:i" }}</p>

						{% if agendamento.status %}
							<p class="rotulo">Data de Fechamento</p>
							<p class="description-data">{{ agendamento.data_fechamento|date:"d/m/Y" }} {{ agendamento.data_fechamento|time:"H:i" }}</p>
						{% endif %}
						
						<div class="alteracoes-conteiner">
							{% if agendamento.funcionario_abriu == funcionario_usuario or agendamento.funcionario_abriu.setor == funcionario_usuario.setor and funcionario_usuario.nivel != 'funcionario' or funcionario_usuario.nivel == 'adm_sistema' %}
								<span class="editar-agendamento" data-agendamento-id="{{ agendamento.id }}"> 
									<a href="{% url 'home:edita_chamado' agendamento.id %}">Editar</a>
								</span>
							{% endif %}

							{% if agendamento.funcionario_abriu == funcionario_usuario or funcionario_usuario.setor == agendamento.funcionario_abriu.setor and funcionario_usuario.nivel != 'funcionario' or funcionario_usuario.nivel == 'adm_sistema' %}
								<span class="cancelar-agendamento">
									<a href="#" onclick="excluirChamado('{{agendamento.id}}')">Excluir</a>
								</span>
							{% endif %}

							{% if agendamento.setor == funcionario_usuario.setor and not agendamento.status or funcionario_usuario.nivel == 'adm_sistema' and not agendamento.status %}
								<span class="concluir-agendamento" data-agendamento-id="{{ agendamento.id }}">
									<a href="#" onclick="concluirChamado('{{ agendamento.id }}')">Concluir</a>
								</span>
							{% endif %}

							{% if agendamento.setor == funcionario_usuario.setor and agendamento.status or funcionario_usuario.nivel == 'adm_sistema' and agendamento.status%}
								<span class="reabrir-agendamento" data-agendamento-id="{{ agendamento.id }}">
									<a href="#" onclick="reabrirChamado('{{ agendamento.id }}')">Reabrir</a>
								</span>
							{% endif %}
						</div>
					</div> 
				</div> 
			{% endfor %}
		{% else %}
			<p>Não há agendamentos.</p>
		{% endif %}
	</div>
</div> 
</div>
</div>
</div>
</div>

<button class="fixed-button" onclick="redirecionar()">+</button>
<script>
    function redirecionar() {
        window.location.href = `/chamados/abrir_chamado/`
    }
</script>

{% if messages %}
<script type="text/javascript">
window.onload = function() {
    {% for message in messages %}
    Swal.fire({
        icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% elif message.tags == "info" %}info{% else %}question{% endif %}', 
        title: '{% if message.tags == "success" %}Sucesso{% elif message.tags == "error" %}Erro{% elif message.tags == "warning" %}Aviso{% elif message.tags == "info" %}Informação{% else %}Mensagem{% endif %}',
        text: "{{ message }}",
        customClass: {
            container: 'swal-container-dark', // Estilo personalizado para o container
            popup: 'swal-popup-dark', // Estilo personalizado para o popup
            header: 'swal-header-dark', // Estilo personalizado para o header
            title: 'swal-title-dark', // Estilo personalizado para o título
            content: 'swal-content-dark', // Estilo personalizado para o conteúdo
        }
    });
    {% endfor %}

}
</script>
{% endif %}

<script>
    $(document).ready(function() {
        $('#mostrarAgendamentos').on('click', function() {
            $('.agendamentos').show();
            $('.agendamentosConcluidos').hide();
        });

        $('#mostrarConcluidos').on('click', function() {
            $('.agendamentos').hide();
            $('.agendamentosConcluidos').show();
        });

        function processarAgendaItems() {
            $('.agenda-item').each(function() {
                var agendamentoData = $(this).data('agendamento-data');
                if (agendamentoData === 'False') {
                    $(this).removeClass('concluido');
                    $(this).addClass('passado');
                } else {
                    $(this).removeClass('passado');
                    $(this).addClass('concluido');
                }
            });
        }

        processarAgendaItems();
    });

	function reabrirChamado(chamadoId) {
		Swal.fire({
			title: 'Tem certeza?',
			text: "Você quer reabrir este chamado?",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sim',
			cancelButtonText: 'Cancelar',
			customClass: {
				popup: 'dark-mode-popup',
				title: 'dark-mode-title',
				icon: 'dark-mode-icon',
				confirmButton: 'dark-mode-confirm-button',
				cancelButton: 'dark-mode-cancel-button'
			}
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: "POST",
					url: "/chamado/reabrir_chamado/0/".replace('0', chamadoId),
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					success: function() {
						Swal.fire({
							title: 'Chamado reaberto!',
							icon: 'success',
							timer: 1000,
							showConfirmButton: false,
							customClass: {
								popup: 'dark-mode-popup',
								title: 'dark-mode-title',
								icon: 'dark-mode-icon',
								confirmButton: 'dark-mode-confirm-button'
							}
						}).then(() => {
							location.reload();
						});
					},
					error: function() {
						Swal.fire({
							title: 'Erro!',
							text: 'Não foi possível reabrir o chamado.',
							icon: 'error'
						});
					}
				});
			}
		});
	}	

    function concluirChamado(chamadoId) {
		Swal.fire({
			input: 'textarea',
			inputLabel: 'Descreva o que foi feito',
			inputPlaceholder: 'Digite aqui...',
			showCancelButton: true,
			cancelButtonText: 'Cancelar',
			confirmButtonText: 'Concluir',
			preConfirm: (descricao) => {
				if (!descricao) {
					Swal.showValidationMessage('Você precisa escrever uma descrição!')
				} else {
					return descricao;
				}
			}
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: "POST",
					url: "/chamado/concluir_chamado/0/".replace('0', chamadoId),
					data: {
						'descricao': result.value,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					success: function() {
						Swal.fire({
							title: 'Chamado concluído!',
							icon: 'success',
							timer: 1000,
							showConfirmButton: false,
							customClass: {
								popup: 'dark-mode-popup',
								title: 'dark-mode-title',
								icon: 'dark-mode-icon',
								confirmButton: 'dark-mode-confirm-button'
							}
						}).then(() => {
							location.reload();
						});
					},
					error: function() {
						Swal.fire({
							title: 'Erro!',
							text: 'Não foi possível concluir o chamado.',
							icon: 'error'
						});
					}
				});
			}
		});
	}

	function excluirChamado(chamadoId) {
		Swal.fire({
			title: 'Tem certeza?',
			text: "Você quer excluir este chamado? Esta ação não pode ser desfeita.",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sim, excluir!',
			cancelButtonText: 'Cancelar',
			customClass: {
				popup: 'dark-mode-popup',
				title: 'dark-mode-title',
				icon: 'dark-mode-icon',
				confirmButton: 'dark-mode-confirm-button',
				cancelButton: 'dark-mode-cancel-button'
			}
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: "POST",
					url: "/chamado/deleta_chamado/0/".replace('0', chamadoId),
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					success: function() {
						Swal.fire({
							title: 'Chamado excluído!',
							icon: 'success',
							timer: 1000,
							showConfirmButton: false,
							customClass: {
								popup: 'dark-mode-popup',
								title: 'dark-mode-title',
								icon: 'dark-mode-icon',
								confirmButton: 'dark-mode-confirm-button'
							}
						}).then(() => {
							location.reload();
						});
					},
					error: function() {
						Swal.fire({
							title: 'Erro!',
							text: 'Não foi possível excluir o chamado.',
							icon: 'error'
						});
					}
				});
			}
		});
	}
</script>
{% endblock %}
