{% extends "base.html" %}
{% load static %}

{% block page_name %}Adicionar Funcionário{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'home/css/funcionarios/adicionar_funcionario.css' %}">
<script>
    function redirecionarParaPagina() {
        window.location.href = '/funcionarios/';
    }
</script>
{% endblock %}

{% block content %}
<div class="card">
    <form action="{% url 'home:adiciona_funcionario' %}" method="POST">
        {% csrf_token %}
        <h1 class="titulo">Adicionar Funcionário</h1>
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}"  style="display: block; {% if field.id_for_label == id_status %}display: flex;{% endif %}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="error">{{ field.errors.as_text }}</span>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="button-container">
            <button type="submit" class="adiciona">Adicionar</button>
            <button type="button" class="cancela" onclick="redirecionarParaPagina();">Cancelar</button>
        </div>
    </form>
</div>
{%endblock%}