{% extends "base.html" %}
{% load static %}
{% block page_name %}Funcionários{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'home/js/funcionarios/funcionarios.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{% static 'home/css/funcionarios/funcionarios.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="page">
		<div class="card">
			<div class="card-header pb-0">
				<span class="titulo-pagina">Funcionários</span>
			</div>
			<div class="card-body">
				<table class="table table-striped" style="width:100%">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Contato</th>
							<th>CPF</th>
						</tr>
					</thead>
					<tbody>
						{%for funcionario in funcionarios %}
						<tr class="funcionario-item" data-funcionario-staus="{{ funcionario.staus }}">
							<td>{{ funcionario.nome }}</td>
							<td>{{ funcionario.telefone }}</td>
							<td>{{ funcionario.cpf }}</td>
							<td class="editar-funcionario" style="white-space: nowrap !important;">
								<a href="{% url 'home:edita_funcionario' funcionario.id %}">
									Editar
								</a>
							</td>
							<td class="excluir-funcionario" style="white-space: nowrap !important;">
								<a href="{% url 'home:exclui_funcionario' funcionario.id %}">Excluir</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				
				<table class="table table-striped-striped" style="display: none">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Contato</th>
						
						</tr>
					</thead>
					<tbody>
						{%for funcionario in funcionarios %}
						<tr class="funcionario-item" data-funcionario-staus="{{ funcionario.staus }}">
							<td>{{ funcionario.nome }}</td>
							<td style="white-space: nowrap !important;">{{ funcionario.telefone }}</td>
							<td class="editar-funcionario" style="white-space: nowrap !important;">
								<a href="{% url 'home:edita_funcionario' funcionario.id %}">
									Editar
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<button class="fixed-button" onclick="redirecionar()">+</button>
<script>
    function redirecionar() {
        window.location.href = `/salao/funcionarios/adiciona_funcionario/`
    }
</script>

{% endblock %}