@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #D19C5F;
    --first-color-light: #D19C5F;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #000;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

.nav_list a {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: auto; /* Largura da sidebar e restante do espaço */
    grid-template-rows: 5% 2fr; /* Altura da barra lateral e do conteúdo principal */
    gap: 20px; /* Espaçamento entre as áreas */
}

.header {
    grid-column: 1; /* Define a posição na coluna 2 */
    grid-row: 1; /* Ocupa somente a primeira linha */
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color:#222029;
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    /* grid-column: 1; /* Define a posição na coluna 1 */
    /* grid-row: 1 / span 2; Ocupa a altura total das linhas 1 e 2 */ 
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #222029;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    text-decoration: none;
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--first-color-light);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: var(--first-color-light);
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}


/* .active {
    color: var(--white-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
} */

.height-100 {
    height: 100vh;
}

.bx-layer:before {
    color: var(--first-color-light);
}

.bx-menu:before {
    color: var(--first-color-light);
}

.nav_list a {
    text-decoration: none;
}

#nav-bar > nav > div > a > i {
    color: #D19C5F !important;
}



.header_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
}

.usuario-salao {
    margin-left: auto;
    font-size: 14px;
    color: #ddd;
    font-weight: 500;
}

.bx {
    font-size: 13px !important;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}